<!--  ______________    _______________    _____________
    /             /|  |               |  /             /|
   /   /TTTTTTTTT|/   TTTTT|   |TTTT|/  /   /TTTTTTTT|/
  /            /|   ___   |   |       /             /|
 _TTTTTT/     /|   /  /___|   |     _|TTTTTTT/    /|
/            /|   /           |    /             /|    _
|TTTTTTTTTTTT|   |TTTTTTTTTTTT|   |TTTTTTTTTTTTT|     |_| -->

<nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
         <a id="logo-text" class="navbar-brand" href="/users/<%= current_user.id %>"><%= image_tag('logo.png', id: "logo") %>ELEPHANT</a>
      <% else %>
         <a class="navbar-brand" href="/"><%= image_tag('logo.png', id: "logo") %>ELEPHANT</a>
      <% end %>
    </div><!-- end brand header-->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
           <li id="history"><a href="#history">History</a></li>
           <li id="live-mode"><a href = "/#">Live</a></li>
           <li id="tooltip"><a>Guide</a></li>
           <li><%= image_tag(current_user.image, id: "profile-photo") %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
